.Header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid;
  margin: 0px 20px 10px 20px;
}

.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
}


